/*
 *
 * Main App Screen Styles
 * ==============================================
 */

@charset "UTF-8";

@import "fonts";

body {
	font-family: 'Roboto';
	margin: 3rem;
	cursor: default;
}

p, h1, h2, h3, h4, h5, h6 {
	font-family: 'Roboto';
}

.img-sample {
	height: 30px;
}
